/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 0 8%;
}

.floater {
    float: left;
}

.float-container::after {
    display: table;
    content: "";
    clear: both;
}

.btn {
    display: inline-block;
    color: white;
    background-color: #7cbb02;
    border-radius: 5px;
    padding: 0 10px;
    text-transform: uppercase;
}

.btn-big {
    line-height: 60px;
}

/* END COMMON */

/* HEADER */

.fixed-btn {
    position: fixed;
    right: 5%;
    bottom: 0;

}

header {
    background-image: url('../img/background-header.png');
    color: white;
    background-color: #0c325a;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 120% 110%;
}

.menu {
    padding: 2% 0;
    font-size: 80%;
    height: 40px;
}

.menu * {
    vertical-align: middle;
}

.img-logo {
    width: 10%;
}

.nav-center {
    width: 50%;
    padding-left: 3%;
}

.nav-right {
    width: 40%;
    text-align: right;
}

header a {
    color: inherit;
    text-decoration: none;
}

header li {
    display: inline-block;
    line-height: 40px;
    margin: 0 3px;
    text-transform: uppercase;
}

.btn-log {
    background-color: transparent;
    line-height: 38px;
    border: 1px solid white;
}

.banner {
    width: 50%;
    padding: 100px 0;
}

/* END HEADER */

/* MAIN */

.grey {
    background-color: #d3d3d3;
    padding: 45px;
    text-align: center;
}

.grey p {
    color: #808080;
}

/* Course-layout section */

.course-layout {
    text-align: center;
}

.course-layout .floater {
    width: 33.33333%;
}

.course-layout .floater img {
    height: 100px;
}

.course-layout .floater .col-header {
    height: 150px;
}

.course-layout hr {
    width: 25%;
    margin: 20px auto;
}

.course-layout h3 {
    color: green;
    margin-bottom: 10px;
}


.half {
    height: 500px;
    width: 50%;
    padding: 8%;
}

.half img {
    height: 100%;
}

/* END MAIN */

/* FOOTER */

select {
    background-color: transparent;
    border-color: transparent;
    font-size: 100%;
    width: 100px;
    border-bottom: 1px solid grey;
}

footer .floater:nth-child(1) {
    width: 20%;
    text-align: right;
}
footer .floater:nth-child(1n +2){
    text-align: right;
    width: 40%;
}
/* END FOOTER */

