/* RESET */

/* personalmente mi trovo bene a inserire queste "clausole" varie generali più nel reset che tra i common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

/* END RESET */

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 0 8%;
}

.float-container::after {
    display: table;
    content: "";
    clear: both;
}

.floater {
    float: left;
}

.btn {
    display: inline-block;
    color: white;
    background-color: #7cbb02;
    border-radius: 5px;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 90%;
}

.btn-big {
    line-height: 60px;
}

/* END COMMON */

/* FIXED */
.fixed-btn {
    position: fixed;
    right: 0;
    bottom: 0;
}
/* END FIXED */

/* HEADER */
    /* Header common */
header {
    background-image: url('../img/background-header.png');
    color: white;
    background-color: #0c325a;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 120% 110%;
}
    /* END Header common */

    /* Nav*/
nav {
    padding: 2% 0;
    font-size: 80%;
    height: 40px;
}
nav * {
    vertical-align: middle;
}

.img-logo {
    width: 10%;
}

.nav-center {
    width: 50%;
    padding-left: 3%;
}
.nav-right {
    width: 40%;
    text-align: right;
}

header li {
    display: inline-block;
    line-height: 40px;
    margin: 0 3px;
    text-transform: uppercase;
}

.btn-log {
    background-color: transparent;
    line-height: 38px;
    border: 1px solid white;
}

.banner {
    width: 50%;
    padding: 100px 0;
}
h1 {
    font-size: 180%;
}
.banner .btn {
    margin-top: 10px;
}

/* END HEADER */

/* MAIN */
main p {
    color: #808080;
}

.grey {
    background-color: #d3d3d3;
    padding: 40px;
    text-align: center;
}

/* Course-layout section */
.course-layout {
    text-align: center;
}
.course-layout .floater {
    width: 33.33333%;
}
.course-layout .floater img {
    height: 100px;
    margin: 10px;
}

.course-layout h3 {
    font-size: 120%;
    color: green;
    margin: 20px;
}


.course-layout .floater .col-header {
    height: 200px;
    /* brutta soluzione, ma "comoda" per tenere gli hr alla stessa altezza */
}

.course-layout hr {
    width: 25%;
    margin: 20px auto;
}

.course-layout p {
    padding-bottom: 20px;
}

hr {
    width: 96%;
    margin: auto;
    color: #d3d3d3;
}
.half {
    height: 500px;
    width: 50%;
    padding: 4%;
}

.half img {
    height: 100%;
}

.half a {
    text-decoration: underline;
    color: #5586bc;
}
.half .text-content * {
    padding-bottom: 5%;
}

/* END MAIN */

/* FOOTER */

select {
    background-color: transparent;
    border-color: transparent;
    font-size: 100%;
    width: 100px;
    border-bottom: 1px solid grey;
}

footer .float-container * {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

footer .floater:nth-child(1) {
    width: 50%;
    text-align: left;
}

footer .floater:nth-child(1n+2) {
    width: 25%;
}

footer .btn {
    font-size: 90%;
}

/* END FOOTER */